body {
  background-color: #222;
  color: #999;
  margin: 0;
  padding: 0;
}

aside {
  display: block;
  position: absolute;
  left: 5px;
  bottom: 3px;
}

aside > a {
  text-decoration: none;
}

aside > div.popupMenu {
  visibility: hidden;
  position: absolute;
  padding: 5px;
  left: 1px;
  bottom: 1px;
  text-align: center;
  /*border: solid;*/
  background-color: #333;
}
